html,
body {
  height: 100%;
}

body {
  background-color: $color-body-bg;
  display: flex;
  flex-direction: column;
}

header {
  flex: 0 0 auto;
}

main {
  flex: 1 0 auto;
}

.row {
  .column {
    padding-bottom: 0;
    padding-top: 0;
  }
}

.container {
  max-width: 1080px;
}
