body {
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  border-bottom: 2px solid #e3e4e4;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 3.8rem;
}

h3 {
  font-size: 2.8rem;
}