.button {
  &.is-doc {
    border-color: $color-light;
    color: $color-light;
    font-weight: normal;
    width: 115px;

    &:hover {
      background-color: $color-button-doc;
      border-color: $color-button-doc;
      color: $color-button-doc-accent;
    }

    &:focus {
      border-color: $color-button-doc-focus;
      border-width: 2px;
    }

    &:active {
      border-color: $color-button-doc;
      color: $color-button-doc-accent;
    }
  }
}
