.example,
.customize,
.configure {
  margin-bottom: 2rem;
  margin-top: 2rem;
  padding: .2rem 1rem 1rem;

  &::before {
    font-size: 1.2rem;
    font-weight: 300;
  }
}

.customize,
.configure {
  font-size: 1.3rem;
}

.example {
  border: 1px dashed $color-info;

  &::before {
    color: $color-info;
    content: 'EXAMPLE';
  }

  h2,
  h3 {
    border: 0;
  }
}

.customize {
  border: 1px solid $color-success;
  border-top-width: 5px;

  > p {
    margin: 0;
  }

  p > code {
    &:first-child {
      padding-left: 0;
    }
  }

  &::before {
    color: $color-success;
    content: 'CUSTOMIZATION OPTIONS';
  }
}

.configure {
  border: 1px solid $color-warning;
  border-top-width: 5px;

  > p {
    margin: 0;
  }

  p > code {
    &:first-child {
      padding-left: 0;
    }
  }

  &::before  {
    color: $color-warning;
    content: 'CONFIGURATION OPTIONS';
  }
}
