.example,
.customize,
.configure {
  padding: .2rem 1rem 1rem 1rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.customize,
.configure {
  font-size: 1.3rem;
}

.example {
  border: 1px dashed #3273dc;

  &::before {
    content: 'EXAMPLE';
    color: #3273dc;
  }

  h2,
  h3 {
    border: 0;
  }
}

.customize {
  border: 1px solid #62d662;
  border-top-width: 5px;

  > p {
    margin: 0;
  }

  p > code:first-child {
    padding-left: 0;
  }

  &::before {
    content: 'CUSTOMIZATION OPTIONS';
    color: $color-success;
  }
}

.configure {
  border: 1px solid #ffdd57;
  border-top-width: 5px;

  > p {
    margin: 0;
  }

  p > code:first-child {
    padding-left: 0;
  }

  &::before  {
    content: 'CONFIGURATION OPTIONS';
    color: $color-warning;
  }
}

.customize::before,
.configure::before,
.example::before {
  font-size: 1.2rem;
  font-weight: 300;
}
