.version {
  padding: 20px 0;

  article {
    margin-top: 15px;
  }

  &__head {
    align-items: center;
    border-bottom: 1px solid $color-border;
    display: flex;
    padding-bottom: 10px;
    margin-bottom: 20px;

    h2 {
      color: $color-grey;
      font-family: $font-stack;
    }

    a {
      margin-left: auto;
    }
  }

  form  {
    margin-top: 20px;
  }
}
