<head>
  <!-- Meta Information -->
  <meta charset="utf-8">
  <meta name="robots" content="all,follow">
  <meta name="googlebot" content="index,follow,snippet,archive">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="{{ .Site.Author.name }}" />
  {{ if .Keywords }}
  <meta name="keywords" content="{{ delimit .Keywords ", " }}">
  {{ end }}
  {{ if .Description }}
  <meta name="description" content="{{ .Description }}">
  {{ end }}

  <title>{{ .Title }}</title>

  <!-- Stylesheets -->
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/1.8.36/css/materialdesignicons.min.css">
  <link href="/css/luma-docs.min.css" rel="stylesheet">

  <!-- Favicon and Apple Touch Icons-->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="apple-mobile-web-app-title" content="Luma - CSS Framework">
  <meta name="application-name" content="Luma - CSS Framework">
  <meta name="theme-color" content="#ec556c">

  <!-- Facebook OpenGraph tags -->
  <meta property="og:title" content="{{ .Title }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ .URL }}/" />
  <meta property="og:image" content="{{ .Site.Params.logo }}" />

</head>