{{ define "main" }}
  <header>
    <div class="head">
        <img class="head__image" src="/images/luma_landing.png" alt="Background Image">
        <div class="head__info">
          <h1>Luma</h1>
          <h2><span>Lightweight, <strong>Flex</strong>ible</span></h2>
          <div class="head__buttons">
            <a class="button is-outline is-doc" href="#!">Get Started</a>
            <a class="button is-outline is-doc is-right" href="#!">Github</a>
          </div>
        </div>
    </div>    
  </header>
  <main aria-role="main" class="home">
    {{ .Content }}
  </main>
{{ end }}